*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
html,
body {
  height: 100%;
  background : linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
}